            .type-1215{
                @color:#60ca64;
                @color-hover: #80cdff;
                background-color: #f3f3f4;
                a{
                    text-decoration: none;
                }
                .bg{
                   width: 100%;
                   margin: 0 auto;
               }
               #swiper{
                max-height: 655px;
                height: auto;
            } 
            img {
                width: 100%;
                height: 100%;
            }
            .slider_caption{
                padding: 10px;
                text-align: center;
                position: absolute;
                left: 20px;
                right: 20px;
                bottom: -20%;
                margin: 45px 0;
                opacity: 0;
            }
            a:hover .slider_caption{
                opacity: 3;
                transition: 2s;
                bottom: 55%;
                display: block;
            }
            a:hover .swiper-btn i{
                color: #fff;
            }
            .slider_caption h2 {
                color: #fff;
                font-size: 24px;
                font-weight: 300;
                text-transform: uppercase;
                font-weight: bold;
            }
            .slider_caption h2::after{
                position: absolute;
                content: "";
                display: block;
                width: 80px;
                left: 50%;
                margin-left: -40px;
                height: 2px;
                background-color: #fff;
            }
            .slider_caption h3 {
                color: #fff;
                font-size: 12px;
                font-weight: bold;
                text-transform: uppercase;
                margin-top: 6px;
            }
            .swiper_btn {
                width: 62px;
                height: 62px;
                margin: -22px 0 0 0;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                position: absolute;
                top: 50%;
                z-index: 10;
                cursor: pointer;    
            }
            #swiper_btn_prev {
                left: 0;
            }
            #swiper_btn_next {
                right: 0;
            }
            #swiper_btn_down {
                z-index: 3;
                top: 50%;
                left: 50%;
                margin-left: -16px;
                width: 32px;
                height: 32px;
                font-size: 32px;
                text-align: center;
                margin-top: 18%;
            }
            .swiper_btn i {
                font-size: 36px;
                line-height: 62px;
                text-align: center;
                display: block;
                color: #80808080;
                transition: all 0.8s ease;
            }
            #swiper:hover .swiper_btn i{
                color: #fff;
            }
            @media (max-width: 1500px){
              a:hover .slider_caption{
                opacity: 3;
                transition: 2s;
                bottom: 50%;
            }
            #swiper_btn_down {
                margin-top: 40%;
            }
        }
        @media (max-width: 1280px){
          a:hover .slider_caption{
            opacity: 3;
            transition: 2s;
            bottom: 38%;
        }
        #swiper_btn_down {
            margin-top: 25%;
        }
    }
    @media (max-width: 960px){
      a:hover .slider_caption{
        opacity: 3;
        transition: 2s;
        bottom: 32%;
    }

}
@media (max-width: 768px){
    a:hover .slider_caption{
        opacity: 3;
        transition: 2s;
        bottom: 25%;
    }
    #swiper_btn_down {
        margin-top: 20%;
    }
}
@media (max-width: 480px){
    a:hover .slider_caption{
        opacity: 3;
        transition: 2s;
        bottom: 10%;
    }
    #swiper_btn_down {
        margin-top: 15%;
    }
    .slider_caption h2{
        font-size: 15px;
    }
    .slider_caption h3{
        font-size: 10px;
    }
    .slider_caption h2::after{
        position: absolute;
        content: "";
        display: block;
        width: 50px;
        left: 55%;
        margin-left: -40px;
        height: 2px;
        background-color: #fff;
    }
}
}