.type-1222 .aboutcase li {
  padding: 8px 0;
  border-bottom: 1px solid #ededed;
}
.type-1222 .fancy-title {
  position: relative;
  margin-bottom: 15px;
}
.type-1222 .center {
  text-align: center !important;
}
.type-1222 span {
  color: #fdd000;
}
.type-1222 .heading-block h4 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.type-1222 h5 {
  font-weight: 600;
}
.type-1222 .fancy-title h4:after {
  position: absolute;
  display: block;
  content: "";
  width: 100px;
  height: 2px;
  left: 50%;
  bottom: -10px;
  margin-left: -50px;
  background-color: #fdd000;
}
.type-1222 .col-lg-3 {
  min-height: 728px;
}
.type-1222 .aboutcase {
  list-style: url(../images/list-c.png) none inside;
}
@media (max-width: 691px) {
  .type-1222 .col-lg-3 {
    min-height: 700px;
  }
}
