.type-1223 {
  margin-top: 65px;
}
.type-1223 .onlineSupport {
  background-image: url(../images/page-contact-bg.jpg);
  padding-bottom: 50px;
  background-position: 0% 439.2px;
}
.type-1223 .onlineSupport .center .Button {
  border: 3px solid white;
  padding: 10px 50px;
  display: inline-block;
  margin: 0 auto;
  font-size: 16px;
  font-weight: bold;
  color: white;
  transition-property: background, color;
  transition-duration: 1s;
  transition-delay: 0s;
  margin-top: 60px;
  z-index: 999;
}
.type-1223 a.Button:hover {
  background: #EEE;
  color: black !important;
}
.type-1223 .onlineSupport .center .Button {
  text-decoration: none;
}
.type-1223 .onlineSupport .center span {
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding-top: 10px;
  display: block;
}
.type-1223 .widget:first-child {
  margin-top: 0;
}
.type-1223 .widget ul {
  list-style: none;
  padding-left: 0px;
}
.type-1223 .widget ul li {
  padding: 4px !important;
}
.type-1223 .widget ul li a {
  display: inline-block;
  padding: 0 3px 0 12px;
  background: url(../images/widget-link.png) left top no-repeat;
  border: none !important;
  color: #999;
  font-size: 14px;
  text-decoration: none;
}
.type-1223 .widget ul li a:hover {
  color: #000;
}
.type-1223 .footer {
  margin-top: 45px;
}
.type-1223 .facebookAPI {
  overflow: auto;
}
.type-1223 .fb-page {
  overflow: auto;
}
@media (max-width: 500px) {
  .type-1223 .onlineSupport {
    background-size: cover;
    padding-bottom: 50px;
  }
}
