@import "../../variables/var.less";
.type-1214 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.type-1214 a {
  font-size: 13px;
  font-weight: bold !important;
  text-transform: uppercase;
}
.type-1214 .container {
  width: 100%;
  padding: 0 30px;
}
.type-1214 .navbar-default {
  background-color: transparent;
  border-color: transparent;
  float: left;
  width: 100%;
  border-top: 1px solid ;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
  margin: 0px 0px 6px 0px;
}
.type-1214 .navbar-default .navbar-nav> li >a {
  color: #fff;
}
.type-1214 .navbar-default .navbar-nav> li >a:hover,
.type-1214 .navbar-default .navbar-nav> li >a:focus {
  color: #fff;
}
.type-1214 .navbar-default .navbar-nav>.open>a,
.type-1214 .navbar-default .navbar-nav>.open>a:hover,
.type-1214 .navbar-default .navbar-nav>.open>a:focus {
  color: #fff !important;
  background-color: transparent !important;
}
.type-1214 .navbar-default .navbar-nav>.open>li {
  transition: all 0.5s ease;
}
.type-1214 .navbar-default .navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.type-1214 .navbar-default .navbar-collapse .dropdown-menu {
  font:  ;
}
.type-1214 .navbar-default .navbar-collapse .navbar-nav {
  margin: 7.5px -15px;
}
.type-1214 .navbar-default .navbar-collapse .navbar-nav li ul {
  padding: 0;
  border-radius: 3px;
  margin-left: 15px;
}
.type-1214 .navbar-default .navbar-collapse .navbar-nav li ul li a {
  padding: 10px 5px;
  color: ;
}
.type-1214 .navbar-default .navbar-collapse .navbar-nav li ul li a:hover {
  padding-left: 7px;
}
.type-1214 .navbar-default .navbar-collapse .navbar-nav li ul li:first-child a {
  border-radius: 3px 3px 0 0;
}
.type-1214 .navbar-default .navbar-collapse .navbar-nav li ul li:last-child a {
  border-radius: 0 0 3px 3px;
}
.type-1214 .navbar-default .navbar-collapse .navbar-nav li ul li a:hover {
  color: #fdd000;
  background-color: ;
}
.type-1214 .navbar-default .navbar-collapse .navbar-nav li > a {
  padding-left: 15px;
  padding-right: 15px;
}
.type-1214 .fix {
  transition: all 0.5s ease;
  background-color: #333;
}
.type-1214 .fix .navbar-nav li ul {
  margin-top: 0px;
}
.type-1214 .fix .dropdown a {
  transition: all 0.5s ease;
  padding-top: 10px;
  padding-bottom: 15px;
}
.type-1214 .fix .cart {
  transition: all 0.5s ease;
  margin: 0 40px;
  margin-left: 0;
  top: 30px;
}
.type-1214 .fix .navbar-toggle {
  transition: all 0.5s ease;
  margin-top: 8px !important;
}
.type-1214 .fix .logo {
  max-height: 67px;
  transition: all 0.5s ease;
  margin-top: 0 !important;
}
.type-1214 .fix .logo img {
  transform: scale(0.67);
  transform-origin: left top;
  height: 100% !important;
  transition: all 0.5s ease;
}
.type-1214 .cart {
  margin: 25px 40px;
  margin-left: 0;
  transition: all 0.5s ease;
}
.type-1214 .navbar-default .navbar-toggle:hover,
.type-1214 .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.type-1214 .navbar-default .navbar-toggle {
  transition: all 0.5s ease;
  border: none;
  margin-top: 31px;
}
.type-1214 .navbar-default .navbar-toggle .icon-bar {
  margin: 6px 0;
  width: 28px;
  background-color: #fff;
}
.type-1214 .fa {
  color: #fff;
  font-size: 22px;
}
.type-1214 .fa-angle-down {
  margin-left: 5px;
}
.type-1214 .navbar-nav > .open > a {
  background-color: ;
  color: ;
}
.type-1214 .top-strip {
  float: left;
  width: 100%;
  border-top: 5px solid ;
  padding: 20px 0px 10px 0;
  border-bottom: solid 1px ;
  display: block;
  transition: display 0.5s ease-in-out;
}
.type-1214 .language {
  margin-bottom: 0;
  padding: 0;
}
.type-1214 .language .dropdown {
  margin-right: 20px;
  float: left;
  list-style: none;
  z-index: 1110;
}
.type-1214 .language .dropdown-menu {
  padding: 0;
}
.type-1214 .language .dropdown-toggle {
  font:  ;
  color: ;
}
.type-1214 .account {
  float: right;
  list-style: none;
  padding: 0;
}
.type-1214 .account .dropdown-menu {
  left: auto;
  right: 0px;
  z-index: 1110;
}
.type-1214 .account .dropdown-menu li {
  width: 100%;
  margin: 0;
}
.type-1214 .account ul {
  float: left;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.type-1214 .account li {
  display: inline-block;
  margin: 0px 10px;
}
.type-1214 .account li:last-child {
  margin-right: 0;
}
.type-1214 .account a {
  font:  ;
  color: ;
  text-decoration: none;
}
.type-1214 .account a:hover {
  color: ;
}
.type-1214 .language .dropdown-menu,
.type-1214 .account .dropdown-menu {
  font:  ;
}
.type-1214 .language li ul li:first-child a:hover,
.type-1214 .account li ul li:first-child a:hover {
  border-radius: 3px 3px 0 0;
}
.type-1214 .language li ul li:last-child a:hover,
.type-1214 .account li ul li:last-child a:hover {
  border-radius: 0 0 3px 3px;
}
.type-1214 .open>.dropdown-menu {
  opacity: 1;
}
.type-1214 .dropdown a {
  transition: all 0.5s ease;
  padding-top: 39px;
  padding-bottom: 39px;
}
.type-1214 .dropdown .caret {
  border-top: 4px solid ;
}
.type-1214 .dropdown a:hover,
.type-1214 .dropdown a:focus {
  text-decoration: none;
}
.type-1214 .dropdown a:hover {
  color: ;
}
.type-1214 .dropdown a:hover .caret {
  border-top: 4px solid ;
}
.type-1214 .dropdown ul {
  background-color: #3f3f3f;
  border-color: #fdd000 #3f3f3f #3f3f3f;
  margin-top: -20px;
  border-top: 1px solid;
}
.type-1214 .dropdown ul li:hover a {
  background-color: #333;
}
.type-1214 .dropdown ul li a {
  color: #999999;
  padding: 20px 5px;
  transition: all 0.4s ease;
}
.type-1214 .dropdown ul li a:hover {
  color: #fdd000;
  transition: all 0.4s ease;
  padding-left: 12px;
}
.type-1214 .arr-nav {
  position: absolute;
  top: -14px;
  left: 50%;
  width: 7px;
  height: 13px;
  margin-left: -7px;
  background: #3f3f3f;
  box-shadow: 0 0 0 12px transparent;
  content: '';
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  border-bottom: 9px solid #333;
}
.type-1214 .dropdown-menu {
  border: none;
  transition: all 0.5s ease;
  background-color: #e5e5e5;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.type-1214 .dropdown-menu li a {
  display: block;
  transition: all 0.5s ease;
  padding: 20px 5px;
  font-weight: normal;
  line-height: 20px;
  white-space: nowrap;
  color: ;
}
.type-1214 .dropdown-menu li a:hover {
  background-color: ;
  color: ;
}
.type-1214 .input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;
}
.type-1214 .width-2034 .logo {
  transition: all 0.5s ease;
  margin-top: 10px;
  max-height: 67px;
  float: left;
}
.type-1214 .width-2034 .logo img {
  transition: all 0.5s ease;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}
.type-1214 .width-2034 input[type="text"] {
  background-color: ;
  border: 1px solid ;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: ;
  vertical-align: middle;
  border-radius: 4px;
}
.type-1214 .width-2034 input[type="text"]:focus {
  border-color: ;
  outline: none;
}
.type-1214 .width-2034 .search-bar {
  cursor: pointer;
}
.type-1214 .width-2034 .notSearch {
  transform: scale(1,0) !important;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
.type-1214 .width-2034 .navbar-header {
  text-align: center;
}
.type-1214 .search-box {
  background-color: ;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 0px 5px rgba(0,0,0,0.2);
  display: none;
  float: left;
  right: 100%;
  top: 0px;
  position: absolute;
  padding: 11px;
  margin: 0;
  z-index: 100;
}
.type-1214 .search-box input[type="text"] {
  border-radius: 0px;
  margin: 0px;
}
.type-1214 .cart {
  float: right;
}
.type-1214 .cart ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
.type-1214 .cart ul li {
  padding: 20px;
  float: left;
  border-left: solid 1px ;
  position: relative;
}
.type-1214 .cart ul li span {
  margin: 0px 0px 0px 5px;
}
.type-1214 .cart ul li a {
  color: #252525;
}
.type-1214 .cart ul li a:hover {
  color: ;
}
.type-1214 .cart ul .fa-search:hover {
  color: ;
}
.type-1214 .cart ul li a.return {
  padding: 10px 20px;
  color: ;
  display: block;
  text-align: center;
  background-color: ;
}
.type-1214 .cart ul li:last-child {
  padding-right: 0;
}
.type-1214 .cart ul li a.return:hover {
  background-color: ;
}
.type-1214 .cart ul li:first-child {
  border: none;
}
.type-1214 .cart .dropdown-menu {
  width: 232px;
  margin: 0px 0px 0px -116px;
  padding: 20px;
  border-radius: 0px;
}
.type-1214 .cart .color {
  color: ;
}
@media screen and (min-width: 768px) {
  .type-1214 .navbar-default .navbar-collapse .navbar-nav {
    margin-left: 0;
    margin-right: 0;
  }
  .type-1214 .navbar-toggle {
    display: block;
    position: absolute;
    right: 0;
  }
  .type-1214 .show-hover:hover .dropdown-menu {
    display: block;
    opacity: 1;
  }
  .type-1214 .navbar-nav {
    float: right;
  }
  .type-1214 .navbar-nav .dropdown-menu {
    left: -20px;
    margin-top: -30px;
  }
  .type-1214 .navbar-nav li .dropdown-menu {
    border-top: none;
    display: block;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease;
  }
  .type-1214 .navbar-nav li:hover .dropdown-menu {
    height: auto;
    opacity: 1;
    transition: all 0.4s ease;
  }
}
@media screen and (max-width: 767px) {
  .type-1214 .cart {
    margin-right: 15px;
  }
  .type-1214 .dropdown a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .type-1214 .navbar-nav .open .dropdown-menu {
    background-color: #3f3f3f;
  }
  .type-1214 .arr-nav {
    display: none;
  }
  .type-1214 .navbar-nav .open .dropdown-menu>li>a:hover {
    background-color: #333 !important;
  }
  .type-1214 .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
  }
  .type-1214 .logo {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 0;
  }
  .type-1214 .navbar-toggle {
    float: left;
  }
  .type-1214 .navbar-header {
    padding: 0 20px;
  }
}
@media screen and (max-width: 959px) and (min-width: 768px) {
  .type-1214 .cart {
    position: absolute;
    right: 45px;
    top: 35px;
  }
  .type-1214 .navbar-default .navbar-nav li > a {
    padding-bottom: 5px;
  }
  .type-1214 .navbar-default .navbar-collapse .navbar-nav li > a {
    font-size: 11px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .type-1214 .navbar-default .navbar-toggle {
    top: 35px;
    right: 15px;
  }
  .type-1214 .fix .navbar-toggle {
    top: 30px !important;
  }
  .type-1214 .fix .logo {
    max-height: 85px;
  }
  .type-1214 .navbar-nav .dropdown-menu {
    margin-top: 0;
  }
}
