.type-1230 .swiper-container {
  width: 100%;
  height: 100%;
}
.type-1230 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.type-1230 .swiper-button-prev,
.type-1230 .swiper-button-next {
  width: 30px;
  height: 30px;
  padding: 0 30px;
  color: #ffa500;
}
.type-1230 .swiper-slide:hover .portfolio-overlay a {
  display: block;
}
.type-1230 .blog-top {
  padding: 30px 0px 30px 0px;
}
.type-1230 .blog-top h4 {
  color: #000;
  text-align: left;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
}
.type-1230 .blog-content .blog {
  -webkit-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
.type-1230 .blog-content .blog:hover {
  -webkit-filter: grayscale(100%) blur(0px);
  filter: grayscale(100%) blur(0px);
}
.type-1230 .blog-content {
  transition: all 0.8s ease;
  border: 3px #eee solid;
  padding: 20px;
  height: 100%;
  position: relative;
}
.type-1230 .blog-content .portfolio-overlay a {
  position: absolute;
  top: 40%;
  left: 57%;
  background-color: #F5F5F5;
  width: 40px !important;
  height: 40px !important;
  margin: -28px 0 0 -44px;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  color: #444;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  display: none;
  transition: .5s ease-in-out;
}
.type-1230 .blog-content .portfolio-overlay a i {
  font-size: 22px;
  margin: 11px;
}
.type-1230 .blog-content .portfolio-overlay a i:hover {
  font-size: 22px;
  margin: 11px;
  color: #ffa500 !important;
}
.type-1230 .blog-content .blog-img {
  position: relative;
  margin: -20px -20px -5px -20px;
  display: block;
}
.type-1230 .blog-content .blog-img img {
  width: 350px;
}
.type-1230 .blog-content .blog-title {
  line-height: 0.8;
  text-align: left;
  text-transform: uppercase;
}
.type-1230 .blog-content .blog-title a {
  color: #000000;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  transition: .3s ease-in-out;
}
.type-1230 .blog-content .blog-title a:hover {
  color: #ffa500;
}
.type-1230 .blog-content .blog-description {
  text-align: left;
  font-size: 11px;
  z-index: 3;
  margin: 0;
}
.type-1230 .blog-content .blog-description a {
  color: #828282;
  text-decoration: none;
  transition: .3s ease-in-out;
}
.type-1230 .blog-content .blog-description a:hover {
  color: #000000;
}
.type-1230 .blog-content .blog-description .right {
  display: inline-block;
  float: right;
}
@media all and (max-width: 1200px) {
  .type-1230 .blog-content .blog-img img {
    width: 310px;
  }
}
@media all and (max-width: 997px) {
  .type-1230 .blog-content .blog-img img {
    width: 310px;
  }
}
@media all and (max-width: 700px) {
  .type-1230 .blog-content .blog-img img {
    width: 300px;
  }
  .type-1230 .blog-content .blog-description {
    font-size: 11px;
  }
  .type-1230 .blog-content .blog-title a {
    font-size: 12px;
  }
  .type-1230 .blog-top h4 {
    font-size: 18px;
  }
}
@media all and (max-width: 640px) {
  .type-1230 .blog-content .blog-img img {
    width: 270px;
  }
  .type-1230 .blog-content .blog-description {
    font-size: 10px;
  }
  .type-1230 .blog-content .blog-title a {
    font-size: 12px;
  }
  .type-1230 .blog-top h4 {
    font-size: 18px;
  }
}
@media all and (max-width: 600px) {
  .type-1230 .blog-content .blog-img img {
    width: 350px;
  }
}
@media all and (max-width: 400px) {
  .type-1230 .blog-content .blog-img img {
    width: 300px;
  }
}
@media all and (max-width: 280px) {
  .type-1230 .blog-content .blog-img img {
    width: 250px;
  }
  .type-1230 .blog-content .blog-description {
    font-size: 8px;
  }
  .type-1230 .blog-content .blog-title a {
    font-size: 11px;
  }
  .type-1230 .blog-top h4 {
    font-size: 15px;
  }
  .type-1230 .swiper-button-prev,
  .type-1230 .swiper-button-next {
    font-size: 10px;
  }
}
