.type-1231{
    #page-title{
    background-image: url(../images/page-title-bg.jpg);
    vertical-align: inherit;
    font-family: "Microsoft JhengHei", "Open Sans" "Raleway", sans-serif;
    margin: 40px 0;
        .breadcrumb{
            background-color: none;
        }
        .breadcrumb:after{
            content: '';
            display: block;
            position: absolute;
            width: 110px;
            height: 2px;
            left: 50%;
            top: 55%;
            margin-left: -55px;
            background-color: #fdd000;
        }
        h1{
            text-align: center;
            font-size: 28px;
            vertical-align: inherit;
            transition: transform 0.9s ease;    
        }
        h1:hover{

                                    transform:scale(1.1);
                                    transition-property: all;
                                    transition-duration: 0.9s;
        }
        ol{
            transition: transform 0.9s ease;
            text-align: center;
            a{
                text-decoration: none;
                color: black;
                vertical-align: inherit;
                transition: transform 0.9s ease; 
                
            }
            a:hover{
                color: #fdd000;
                vertical-align: inherit;
                transition-duration: 0.9s;
            
            }

        }

    }
    .sky-form .input input, .sky-form .select select, .sky-form .textarea textarea {
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 39px;
    width: 100%;
    padding: 8px 10px;
    outline: none;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-radius: 0;
    background: transparent !important;
    font: 15px/19px 'Open Sans', Helvetica, Arial, sans-serif;
    color: #404040;
    appearance: normal;
    vertical-align: inherit;
}
    .vien{
        border-bottom: 2px solid #ededed;
        padding:20px;


    }
        .vienduoi{
        border-top: 2px solid #ededed;
        padding: 40px;


    }
            .search{
               
                margin: 0 auto;
                vertical-align: inherit;
            p{  
                margin: 50px;
            }
            p1{
                color:red;
            }

    }

    .pagesearch{
        text-align: center;
        form {
        outline: none;
        font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
        color: #666;
        display: inline-block;
        text-align: center;
        ul{
            margin: 0 auto;
            display: flex;
            li{
                transition: transform 0.9s ease; 
                a{
                    img{
                        color: red;
                    }
                }
                label{
                    font-size: 13px;
                    font-weight: 700;
                    vertical-align: inherit;

                    select{
                        height: 39px;
                        width: 150px;
                        option{
                        vertical-align: inherit;
                        }
                    }
                }
                margin-right: 40px;
                float: left;
                text-decoration: none;
                list-style-type: none;
                
                input{
                    height: 39px;
                    width: 150px;
                }
            }
            li:hover{
                transform:scale(1.1);
                                    color: #fdd000;
                                    transition-property: all;
                                    transition-duration: 0.9s;

            }
        }
    }  
    }

}