.type-1228 {

    padding-top: 50px;

.swiper-container{
        position:relative;
        overflow:hidden;
        z-index:1
    }
    .swiper-container {       
        .swiper-wrapper {
            height: auto!important;
            position:relative;
            width:100%;
            height:100%;
            z-index:1;     
            display:flex;          
           
        }
    }
    
    .img_page {

        img {
            width: 1120px !important;
            height: 500px;
        }
    }

    .hover {cursor:pointer}

    #swiper-horizontal, #swiper-horizontal-2 {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
        z-index: 1;

        margin-top: 10px;
        width:320%;
        .swiper-slide {
            text-align: center;
            font-size: 1px;
            flex-shrink: 0;


        }
        .swiper-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
            display: flex;
            box-sizing: content-box;
        }
        .swiper-button-next-3,.swiper-button-prev-3, .swiper-button-next-4, .swiper-button-prev-4{
            position:absolute;
            top:0%;
            width:20px;
            color: #cccccc;
            height: 100%;
            vertical-align: middle;
            z-index:10;
            cursor:pointer;
            -moz-background-size:27px 44px;
            -webkit-background-size:27px 44px;
            background-size:27px 44px;
            background-position:center;
            background-repeat:no-repeat;
            i{
                position: absolute;
                top: 40%;
            }
        }

        .swiper-button-disabled{
            opacity:.35;
            cursor:auto;
            pointer-events:none}
        .swiper-button-next-3, .swiper-button-next-4{
            background: linear-gradient(to right,rgba(0,0,0,.0007) 0,rgba(0,0,0,.5) 100%);
            right: 0;
            left:auto;
            transition: right 0.5s;
            i{
                right: 0;
            }
        }
        .swiper-button-prev-3, .swiper-button-prev-4{
            background: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0007) 100%);      
            right:auto;
            transition: left 0.5s;
        }
    }




    @media (min-width: 1200px) {
        #swiper-vertical {
            display: block;
        }
        #swiper-horizontal .swiper-slide img{
            height: 60px;
            width: 115px;
        }


        #dialog-form {
            #swiper-horizontal-2 {
                display: none;
            }
        }
    }
    @media (min-width: 1000px) and (max-width:1200px) {
        #swiper-vertical {
            display: none;
        }
        #swiper-horizontal .swiper-slide img{
            height: 60px;
            width: 93px;
        }
        .img_page img{
            width: 905px !important;
        }

        #dialog-form {
            #swiper-horizontal-2 {
                display: none;
            }
        }

    }
    @media (min-width: 800px) and (max-width:1000px) {
        #swiper-vertical {
            display: none;
        }
        #swiper-horizontal .swiper-slide img{
            height: 60px;
            width: 93px;
        }
        .img_page img{
            width: 671px !important;
        }

        #dialog-form {
            #swiper-horizontal-2 {
                display: none;
            }
        }

    }
    @media (min-width:600px) and (max-width:800px) {
        #swiper-vertical {
            display: none;
        }
        #swiper-horizontal .swiper-slide img{
            height: 60px;
            width: 65px;
        }

        .img_page img{
            width: 650px !important;
        }
        #dialog-form {
            #swiper-horizontal-2 {
                display: none;
            }
        }
        #swiper-horizontal,  #swiper-horizontal-2{
            width: 85% !important;
        }
    }
    @media (min-width:400px) and (max-width:600px) {
        #swiper-vertical {
            display: none;
        }
        #swiper-horizontal .swiper-slide img{
            height: 60px;
            width: 65px;
        }
        #swiper-horizontal,  #swiper-horizontal-2{
            width: 85% !important;
        }
        .img_page img{
            width: 378px !important;
            height: 300px;
        }
        #dialog-form {
            #swiper-horizontal-2 {
                display: none;
            }
        }

    }
    @media (max-width:400px) {
        #swiper-vertical {
            display: none;
        }
        #swiper-horizontal .swiper-slide img{
            height: 50px;
            width: 30px;
        }
        #swiper-horizontal,  #swiper-horizontal-2{
            width: 85% !important;
        }
        .img_page img{
            width: 200px !important;
            height: 200px;
        }
        #dialog-form {
            #swiper-horizontal-2 {
                display: none;
            }
        }

    }
}
