@color-span-1222:#fdd000;
@bgcolor-fancy-title-1222:#fdd000 ;
@color-border-about-1222: #ededed;
.type-1222{

    .aboutcase li {
        padding: 8px 0;
        border-bottom: 1px solid @color-border-about-1222-1222;
    }

    .fancy-title {
        position: relative;
        margin-bottom: 15px;
    }
    .center {
        text-align: center !important;
    }
    span{
        color: @color-span-1222;
    }


    .heading-block h4 {
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    h5{
        font-weight: 600;
    }
    .fancy-title h4:after{
        position: absolute;
        display: block;
        content: "";
        width: 100px;
        height: 2px;
        left: 50%;
        bottom: -10px;
        margin-left: -50px;
        background-color: @bgcolor-fancy-title-1222;
    }
    .col-lg-3{
        min-height: 728px;
    }
    .aboutcase {
        list-style: url(../images/list-c.png) none inside;
    }
    @media (max-width: 691px)
        {
        .col-lg-3 {
            min-height: 700px;
        }
    }
}