body{
    background-color: #f9f9f9 !important;
}
.type-1221{

    .title h4 span.standard{
        color: #fdd000;
    }

    .title h4{
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        position: relative;
    }
    .title{
        position: relative;
    }
    h4:after{
        position: absolute;
        display: block;
        content: "";
        width: 100px;
        height: 2px;
        left: 50%;
        bottom: -10px;
        margin-left: -50px;
        background-color: #fdd000;
    }
    .text{
        text-align: center;
        margin-top: 30px;
    }
    .row{
        text-align: center;
    }
    thead>tr>th{
        text-align: center;
    }
    .table-striped > tbody > tr:nth-child(odd){
        background-color: rgba(0,0,0,0.05);
    }
    .table-striped > tbody > tr:nth-child(odd):hover{
        background-color: #d0cdcd;
    }
    .table-striped > tbody > tr:nth-child(even):hover{
        background-color: #fff;
    }
    .table-striped > thead > tr > th{
        background-color: #39C;
        color:#fff;
    }

@media (max-width:765px)
{
    .row{
        margin: 15px;
    }
}
}