.type-1231 #page-title {
  height: 150px;
  background-image: url(../images/page-title-bg.jpg);
  vertical-align: inherit;
  font-family: "Microsoft JhengHei", "Open Sans" "Raleway", sans-serif;
  margin: 40px 0;
}
.type-1231 #page-title .bread {
  background-color: none;
  font-size: 13px;
  padding-left: 5px;
  padding-top: 15px;
  text-align: center;
}
.type-1231 #page-title .bread:after {
  content: '';
  display: block;
  position: absolute;
  width: 110px;
  height: 2px;
  left: 50%;
  top: 65%;
  margin-left: -55px;
  background-color: #fdd000;
}
.type-1231 #page-title h1 {
  margin-top: 40px;
  text-align: center;
  font-size: 28px;
  vertical-align: inherit;
  transition: transform 0.9s ease;
}
.type-1231 #page-title h1:hover {
  transform: scale(1.1);
  transition-property: all;
  transition-duration: 0.9s;
}
.type-1231 #page-title ol {
  text-align: center;
}
.type-1231 #page-title ol li {
  display: inline;
  transition: transform 0.9s ease;
  text-align: center;
}
.type-1231 #page-title ol li a {
  text-decoration: none;
  color: black;
  vertical-align: inherit;
  transition: transform 0.9s ease;
}
.type-1231 #page-title ol li a:hover {
  color: #fdd000;
  vertical-align: inherit;
  transition-duration: 0.9s;
}
.type-1231 #page-title ol li:hover {
  transform: scale(1.1);
  transition-property: all;
  transition-duration: 0.9s;
}
.type-1231 .sky-form .input input,
.type-1231 .sky-form .select select,
.type-1231 .sky-form .textarea textarea {
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 39px;
  width: 100%;
  padding: 8px 10px;
  outline: none;
  border-width: 0 0 1px 0;
  border-style: solid;
  color: #404040;
}
.type-1231 hr {
  width: 90%;
}
.type-1231 .search {
  vertical-align: inherit;
  padding: 10px;
}
.type-1231 .search .p1 {
  color: red;
}
.type-1231 .pagesearch {
  text-align: center;
}
.type-1231 .pagesearch form {
  outline: none;
  font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
  color: #666;
  display: inline-block;
  text-align: center;
  padding-bottom: 30px;
}
.type-1231 .pagesearch form ul {
  display: flex;
  width: 100%;
}
.type-1231 .pagesearch form ul li {
  transition: transform 0.9s ease;
  margin-right: 40px;
  float: left;
  text-decoration: none;
  list-style-type: none;
}
.type-1231 .pagesearch form ul li img {
  transition: transform 0.9s ease;
}
.type-1231 .pagesearch form ul li img:hover {
  transform: scale(1.1);
  transition-duration: 0.9s;
}
.type-1231 .pagesearch form ul li label {
  font-size: 13px;
  vertical-align: inherit;
  width: 100%;
}
.type-1231 .pagesearch form ul li label select {
  height: 39px;
  width: 200px;
  border: 1px solid black;
}
.type-1231 .pagesearch form ul li label select option {
  vertical-align: inherit;
  background: white;
  color: black;
}
.type-1231 .pagesearch form ul li label select select:hover {
  color: #fdd000;
}
.type-1231 .pagesearch form ul li input {
  height: 39px;
  width: 200px;
}
.type-1231 .pagesearch form ul li:hover {
  transition-property: all;
  transition-duration: 0.9s;
}
@media (max-width: 780px) {
  .page-title h1 {
    font-size: 10px;
  }
  li {
    margin-left: 10px;
  }
}
