.type-1219 {
  background-color: #eee;
  text-align: center;
}
.type-1219 .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.type-1219 .row {
  margin-top: 50px;
}
.type-1219 .hvr-backward:hover {
  transform: translateX(-10px);
  background-color: transparent;
}
.type-1219 .hvr-backward:hover .text {
  left: -15px;
  position: relative;
}
.type-1219 .hvr-backward:hover .ican {
  right: 0;
}
.type-1219 .hvr-backward:hover .hvr-backward {
  background-color: #f9f9f9;
}
.type-1219 .hvr-backward {
  position: absolute;
  content: '';
  top: calc(40%);
  right: 0;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #e1e1e1;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.type-1219 h4 {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #333;
}
.type-1219 .boder {
  border-bottom: 2px solid;
  width: 10%;
  margin: 0 auto;
  border-color: #fdd000;
  margin-bottom: 20px;
  margin-top: 10px;
}
.type-1219 .button {
  padding: 0 32px;
}
.type-1219 body:not(.device-touch) .button {
  transition: all 0.2s ease-in-out;
}
.type-1219 .button {
  overflow: hidden;
  border-radius: 3px;
  font-size: 16px;
  height: 46px;
  line-height: 46px;
  background-color: #fff;
  color: #333;
  text-shadow: none;
  text-decoration: none;
}
.type-1219 .button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  margin: 5px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
}
.type-1219 .tright {
  text-align: right;
}
.type-1219 .icon {
  background-color: #ffe365;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  font-size: 50px;
  text-align: center;
  padding-top: 25px;
  color: #ffffff;
}
.type-1219 .icon:hover {
  background-color: #ffd000;
}
.type-1219 h3 {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  margin-left: 4px;
  line-height: 1.5;
}
.type-1219 .margin-tb-s {
  margin-top: 30px;
  margin-bottom: 0px;
}
.type-1219 hr {
  border-top: 1px solid #cecaca;
  box-sizing: content-box;
  height: 0;
}
.type-1219 .depa {
  color: #fdd000;
  display: inline-block;
}
.type-1219 .col-md-12 {
  padding: 2%;
}
.type-1219 .icon-line {
  font-family: lined-icons;
}
.type-1219 .icon-i:hover {
  position: relative;
  display: block;
  margin-right: 50px;
}
.type-1219 .hvr-icon-forward .hvr-icon:hover {
  display: inline-block;
}
.type-1219 .hvr-icon-forward .hvr-icon {
  display: none;
}
.type-1219 .in {
  font-weight: bold;
  font-size: 20px;
}
.type-1219 .ican {
  font-size: 10px;
  right: -50px;
  position: absolute;
  top: 0px;
  transition: all 0.3s ease;
  padding: 18px;
  padding-left: 13px;
  padding-right: 13px;
  background-color: #e0e0e0;
}
