.type-1216{
@color-text: #555;
@color-bg: #fff;
@color-border: yellow;
@color-icon: #337ab7;
.main{
margin: 0px;
width: 100%;
}
.top-links{
background-color: #fff;
left: 0;  

}
.vien{
border-bottom: 2px solid @color-border;
display:block;
width: 50px;
margin: 0 auto;
}
ul>li{

list-style: none;
float: left;

position: relative;
a{
padding:0 12px;
text-decoration: none;
color: @color-text;
font-size: 12px;
font-weight: 600; 
line-height: 33px;  

}
a:hover{
color: @color-icon;
}

}



.top-text{
padding-top: 5px;
.text{
font-size: 12px;
margin-right: 5px;
border-bottom: 2px solid @color-border;
padding: 10px 0;    

}   
.a-icon {
padding:7px 7px; 
font-size: 15px;
transition: 0.2s;
}
.a-icon:hover
{
background-color: @color-icon;
color: #fff;
transition: 0.5s;
}
}
}