.type-1228 {
  padding-top: 50px;
}
.type-1228 .img_page img {
  width: 1120px !important;
  height: 500px;
}
.type-1228 .hover {
  cursor: pointer;
}
.type-1228 #swiper-horizontal,
.type-1228 #swiper-horizontal-2 {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-top: 10px;
  width: 320%;
}
.type-1228 #swiper-horizontal .swiper-slide,
.type-1228 #swiper-horizontal-2 .swiper-slide {
  text-align: center;
  font-size: 1px;
  flex-shrink: 0;
}
.type-1228 #swiper-horizontal .swiper-wrapper,
.type-1228 #swiper-horizontal-2 .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  box-sizing: content-box;
}
.type-1228 #swiper-horizontal .swiper-button-next-3,
.type-1228 #swiper-horizontal .swiper-button-prev-3,
.type-1228 #swiper-horizontal .swiper-button-next-4,
.type-1228 #swiper-horizontal .swiper-button-prev-4,
.type-1228 #swiper-horizontal-2 .swiper-button-next-3,
.type-1228 #swiper-horizontal-2 .swiper-button-prev-3,
.type-1228 #swiper-horizontal-2 .swiper-button-next-4,
.type-1228 #swiper-horizontal-2 .swiper-button-prev-4 {
  position: absolute;
  top: 0%;
  width: 20px;
  color: #cccccc;
  height: 100%;
  vertical-align: middle;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}
.type-1228 #swiper-horizontal .swiper-button-next-3 i,
.type-1228 #swiper-horizontal .swiper-button-prev-3 i,
.type-1228 #swiper-horizontal .swiper-button-next-4 i,
.type-1228 #swiper-horizontal .swiper-button-prev-4 i,
.type-1228 #swiper-horizontal-2 .swiper-button-next-3 i,
.type-1228 #swiper-horizontal-2 .swiper-button-prev-3 i,
.type-1228 #swiper-horizontal-2 .swiper-button-next-4 i,
.type-1228 #swiper-horizontal-2 .swiper-button-prev-4 i {
  position: absolute;
  top: 40%;
}
.type-1228 #swiper-horizontal .swiper-button-disabled,
.type-1228 #swiper-horizontal-2 .swiper-button-disabled {
  opacity: .35;
  cursor: auto;
  pointer-events: none;
}
.type-1228 #swiper-horizontal .swiper-button-next-3,
.type-1228 #swiper-horizontal .swiper-button-next-4,
.type-1228 #swiper-horizontal-2 .swiper-button-next-3,
.type-1228 #swiper-horizontal-2 .swiper-button-next-4 {
  background: linear-gradient(to right,rgba(0,0,0,0.0007) 0,rgba(0,0,0,0.5) 100%);
  right: 0;
  left: auto;
  transition: right 0.5s;
}
.type-1228 #swiper-horizontal .swiper-button-next-3 i,
.type-1228 #swiper-horizontal .swiper-button-next-4 i,
.type-1228 #swiper-horizontal-2 .swiper-button-next-3 i,
.type-1228 #swiper-horizontal-2 .swiper-button-next-4 i {
  right: 0;
}
.type-1228 #swiper-horizontal .swiper-button-prev-3,
.type-1228 #swiper-horizontal .swiper-button-prev-4,
.type-1228 #swiper-horizontal-2 .swiper-button-prev-3,
.type-1228 #swiper-horizontal-2 .swiper-button-prev-4 {
  background: linear-gradient(to right,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.0007) 100%);
  right: auto;
  transition: left 0.5s;
}
@media (min-width: 1200px) {
  .type-1228 #swiper-vertical {
    display: none;
  }
  .type-1228 #swiper-horizontal .swiper-slide img {
    height: 60px;
    width: 115px;
  }
  .type-1228 #dialog-form #swiper-horizontal-2 {
    display: none;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
  .type-1228 #swiper-vertical {
    display: none;
  }
  .type-1228 #swiper-horizontal .swiper-slide img {
    height: 60px;
    width: 93px;
  }
  .type-1228 .img_page img {
    width: 905px !important;
  }
  .type-1228 #dialog-form #swiper-horizontal-2 {
    display: none;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  .type-1228 #swiper-vertical {
    display: none;
  }
  .type-1228 #swiper-horizontal .swiper-slide img {
    height: 60px;
    width: 93px;
  }
  .type-1228 .img_page img {
    width: 671px !important;
  }
  .type-1228 #dialog-form #swiper-horizontal-2 {
    display: none;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  .type-1228 #swiper-vertical {
    display: none;
  }
  .type-1228 #swiper-horizontal .swiper-slide img {
    height: 60px;
    width: 65px;
  }
  .type-1228 .img_page img {
    width: 650px !important;
  }
  .type-1228 #dialog-form #swiper-horizontal-2 {
    display: none;
  }
  .type-1228 #swiper-horizontal,
  .type-1228 #swiper-horizontal-2 {
    width: 85% !important;
  }
}
@media (min-width: 400px) and (max-width: 600px) {
  .type-1228 #swiper-vertical {
    display: none;
  }
  .type-1228 #swiper-horizontal .swiper-slide img {
    height: 60px;
    width: 65px;
  }
  .type-1228 #swiper-horizontal,
  .type-1228 #swiper-horizontal-2 {
    width: 85% !important;
  }
  .type-1228 .img_page img {
    width: 378px !important;
    height: 300px;
  }
  .type-1228 #dialog-form #swiper-horizontal-2 {
    display: none;
  }
}
@media (max-width: 400px) {
  .type-1228 #swiper-vertical {
    display: none;
  }
  .type-1228 #swiper-horizontal .swiper-slide img {
    height: 50px;
    width: 30px;
  }
  .type-1228 #swiper-horizontal,
  .type-1228 #swiper-horizontal-2 {
    width: 85% !important;
  }
  .type-1228 .img_page img {
    width: 200px !important;
    height: 200px;
  }
  .type-1228 #dialog-form #swiper-horizontal-2 {
    display: none;
  }
}
